# osx index files
.DS_Store

# terraform test data
testdata/terraform/.terraform
testdata/terraform/terraform.tfstate
testdata/terraform/terraform.tfstate.backup
testdata/terraform/tfplan

# python things
__pycache__/
.pyenv/
